:root {
  --primary-color: #1A535C;
  --light-primary-color: #8FB7BD;
  --white: #F7FFF7;
  --red: #FF6B6B;
  --yellow: #FFE66D;
  --green: #4ECDC4;
  --font: 'Nanum Gothic', sans-serif;
  --quote-font: 'Vollkorn', serif;
}

/* font-size */
body {
  font-size: 28px;
}
* {
  font-size: 1em;
}
header h1 {
  font-size: 1.4em;
}
input[type="submit"] {
  font-size: 0.64em;
}
.quote-person {
  font-size: 0.71em;
}

/* font-family */
* {
  font-family: var(--font);
}
.quote * {
  font-family: var(--quote-font);
}

/* styles */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  &:focus {
    outline: none;
  }
}
h1 {
  font-weight: normal;
}
body {
  min-width: 375px;
  color: var(--primary-color);
  background: #F7FFF7;
}
@mixin abs-center($width, $height) {
  width: $width;
  height: $height;
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  margin: auto;
}
@mixin center-btn($width, $height) {
  width: $width;
  height: $height;
  cursor: pointer;
  display: block;
  font-size: 0.71em;
  margin-left: auto;
  margin-right: auto;
}
body {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  header {
    grid-row: 1 / span 1;
  }
  main {
    position: relative;
    grid-row: 2 / span 6;
  }
}
header {
  margin: 38px auto 0px auto;
  width: 86%;
  gap: 20px;
  h1 {
    grid-column: 1 / span 4;
  }
  #create-habit-builder-icon {
    width: 30px;
    height: 30px;
    grid-column: 7 / span 1;
    justify-self: end;
  }
  #account-icon {
    width: 28.8px;
    height: 28.8px;
    grid-column: 8 / span 1;
    justify-self: end;
  }
  &.grid {
    align-items: center;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.dropdown-input {
  display: inline-block;
  position: relative;
  .dropdown-list {
    z-index: 1;
    position: absolute;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .dropdown-item {
    cursor: pointer;
  }
}
#create-page {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  .contents {
    display: grid;
    grid-row-gap: 42px;
  }
  --days-input-width: 80px;
  input[name="days"] {
    width: var(--days-input-width);
  }
  .days .dropdown-list {
    width: var(--days-input-width);
  }
  --habit-input-width: 294px;
  input[name="habit"] {
    width: var(--habit-input-width);
  }
  .habit .dropdown-list {
    width: var(--habit-input-width);
  }
  .dropdown-item {
    text-align: center;
    z-index: 1;
    color: #F7FFF7;
    height: 35px;
    &:nth-child(odd) {
      background: #FBB4B4;
    }
    &:nth-child(even) {
      background: #FF9393;
    }
  }
  input {
    text-align: center;
    padding-bottom: 5px;
    color: #FF6B6B;
    height: 28px;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    &[type="text"] {
      border-bottom: 1px dashed var(--primary-color);
    }
    &[type="submit"] {
      display: block;
      margin: 120px auto 0 auto;
      color: #FF6B6B;
      border: 3px solid #FF6B6B;
      box-sizing: border-box;
      border-radius: 30px;
      width: 192px;
      --height: 40px;
      height: var(--height);
      padding: 0;
    }
  }
}
main > section {
  display: none;
  &.active {
    display: block;
  }
}
.pre-quote {
  transform: rotateY(-180deg);
}
.quote {
  width: 90%;
  margin: 47px auto;
}
.quote-text {
  width: 85%;
  margin: 0 auto;
}
.quote-person {
  width: max-content;
  margin: 0 auto;
}
.quote > img {
  display: block;
}
.post-quote {
  margin-left: auto;
}
.check-list {
  position: relative;
  .contents {
    width: max-content;
    height: max-content;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
  h1 {
    font-size: 1.07em;
    text-align: center;
    margin-bottom: 27px;
  }
  background: var(--red);
  height: 304px;
  * {
    color: var(--white);
  }
  .buttons {
    display: grid;
    row-gap: 20px;
  }
  button {
    --border-radius: 50px;
    position: relative;
    display: block;
    background: none;
    border: 3px solid var(--white);
    border-radius: var(--border-radius);
    width: 350px;
    height: 45px;
    --animation: 0.3s ease-in;
    transition: var(--animation);
    -webkit-transition: var(--animation);
    z-index: 1;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &::before {
      content: "";
      border-radius: var(--border-radius);
      position: absolute;
      background: var(--yellow);
      top: 0; bottom: 0; left: 0; right: 100%;
      z-index: -1;
      -webkit-transition: right 0.2s ease-in;
    }
    &.checked {
      color: var(--primary-color);
      &:before {
        right: 0;
      }
    }
  }
}
form.login {
  .user-info {
    width: max-content;
    display: flex;
    flex-direction: column;
  }
  .forget-pwd {
    width: max-content;
    font-size: 0.43em;
    letter-spacing: 0.1em;
    color: var(--light-primary-color);
    margin-top: 5px;
    margin-left: auto;
    cursor: pointer;
  }
  @include abs-center(min-content, min-content);
  button {
    @include center-btn(130px, 44px);
    border: none;
    background: var(--yellow);
    color: var(--primary-color);
    border-radius: 50px;
    margin-top: 1.6em;
  }
  .separator {
    width: min-content;
    display: flex;
    margin: auto;
    margin-top: 28px;
    align-items: center;
    .text {
      color: var(--light-primary-color);
      font-size: 12px;
      margin: 0 17px;
    }
    .line {
      height: 1px;
      width: 110px;
      border-bottom: dashed 1px var(--light-primary-color);
      margin: 0;
    }
  }
}
.register {
  @include abs-center(min-content, min-content);
  button {
    @include center-btn(130px, 44px);
    border: none;
    background: var(--green);
    color: var(--white);
    border-radius: 50px;
    margin-top: 1.6em;
  }
}
.fields {
  display: grid;
  grid-row-gap: 0.86em;
  .field {
    display: flex;
    flex-direction: column;
    label {
      font-size: 0.42em;
      letter-spacing: 0.1em;
      color: var(--light-primary-color);
    }
    input {
      border: none;
      border-bottom: 1px solid var(--light-primary-color);
      background: none;
      width: 250px;
      margin-top: 0.5em;
      caret-color: var(--light-primary-color);
      color: var(--primary-color);
      padding-bottom: 3px;
      font-size: 0.64em;
      &:focus {
        outline: none;
      }
      &:-webkit-autofill,
      &:-webkit-autofill:hover, 
      &:-webkit-autofill:focus {
        -webkit-text-fill-color: var(--primary-color);
        -webkit-box-shadow: 0 0 0px 1000px var(--white) inset;
      }
    }
  }
}
.form-errors {
  .error {
    display: flex;
    align-items: center;
    margin-top: 3px;
    * {
      color: var(--red);
      margin: 3px;
    }
  }
  --size: 0.5em;
  img {
    width: var(--size);
    height: var(--size);
  }
  .msg {
    font-size: var(--size);
  }
}
.register > .form-errors {
  margin: 10px auto;
}
.social-login {
  &#facebook {
    margin-top: 29px;
  }
  cursor: pointer;
  margin-bottom: 9px;
  width: 278px;
  height: 51px;
  border: 2px solid rgba(26, 83, 92, 0.5);
  border-radius: 5px;
  position: relative;
  .contents {
    width: max-content;
    height: max-content;
    display: flex;
    position: absolute;
    top: 0; bottom: 0; left: 50px;
    margin: auto;
  }
  .login-text {
    margin-left: 19px;
    font-size: 14px;
    letter-spacing: 0.05em;
  }
  img {
    width: 20px;
    height: 20px;
  }
}