.year-and-month {
    text-align: center;
    white-space: pre;
}

.prev-month-date, .next-month-date {
    color: gainsboro;
}

.year-and-month {
    position: relative;
}

.prev-month-switcher, .next-month-switcher {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    background-color: pink;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    
    line-height: 40px;
}

.prev-month-switcher {
    left: 0px;
}

.next-month-switcher {
    right: 0px;
}